@import 'tailwindcss';

@theme {
	--color-primary-50: #fffaf5;
	--color-primary-100: #fff2e5;
	--color-primary-200: #ffe6cc;
	--color-primary-300: #ffd1a3;
	--color-primary-400: #ffa347;
	--color-primary-500: #eb7500;
	--color-primary-600: #a85400;
	--color-primary-700: #7a3d00;
	--color-primary-800: #472400;
	--color-primary-900: #241200;
	--color-primary-950: #140a00;

	--color-gray-50: #fafaf9;
	--color-gray-100: #f4f2f1;
	--color-gray-200: #e8e5e3;
	--color-gray-300: #d6d1cd;
	--color-gray-400: #aca39a;
	--color-gray-500: #81756a;
	--color-gray-600: #5d544c;
	--color-gray-700: #433d37;
	--color-gray-800: #272420;
	--color-gray-900: #141210;
	--color-gray-950: #0b0a09;
}
